# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Logs
*.log

# macOS system files
.DS_Store

# IDE / Editor settings
.vscode/
.idea/

# Django specific
db.sqlite3
/media/


.env
